.shadows-into-light-regular {
  font-family: "Shadows Into Light", cursive;
  font-weight: 400;
  font-style: normal;
}


body{
    background-color: pink;;
}

.back{
    background-color: white;
    height:550px;
    width:950px;
    position:relative;
    top: 3.5cm;
    left: 7cm;
}

h1{
    font-family:"Shadows Into Light", cursive;
    color:white;
    font-size: 50px;
    position: absolute;
    left: 16cm;
}

.board{
    background-color: rgb(72, 12, 22);
    height:450px;
    width:450px;
    position: absolute;
    left: 325px;
}

.square{
    height:150px;
    width:150px;
    background-color: white;
    position: absolute;
}